<div class="item">
    <a class="title">
        <span><i class="th icon"></i></span> Dashboard
    </a>
</div>
<div class="item">
    <a class="title">
        <i class="dropdown icon"></i>
        <span><i class="calendar alternate icon"></i></span> Academic Year
    </a>
    <div class="content">
        <div class="ui inverted grey vertical menu">
            <a class="item">
                <i class="list icon"></i>
                List
            </a>
            <a class="item">
                <i class="plus icon"></i>
                Add
            </a>
        </div>
    </div>

</div>
<div class="item">
    <a class="title">
        <i class="dropdown icon"></i>
        <span><i class="sitemap icon"></i></span> Grades
    </a>
    <div class="content">
        <div class="ui inverted grey vertical menu">
            <a class="item">
                <i class="list icon"></i>
                List
            </a>
            <a class="item">
                <i class="plus icon"></i>
                Add
            </a>
       </div>
    </div>

</div>
<div class="item {% if active == 'teachers' %}active{% endif %}">
    <a class="title">
        <i class="dropdown icon"></i>
        <span><i class="user tie icon"></i></span> Teachers
    </a>
    <div class="content">
        <div class="ui inverted grey vertical menu">
            <a href="{% url 'teachers:list' %}" class="item">
                <i class="list icon"></i>
                List
            </a>
            <a href="{% url 'teachers:add' %}" class="item">
                <i class="plus icon"></i>
                Add
            </a>
       </div>
    </div>

</div>
<div class="item {% if active == 'learners' %}active{% endif %}">
    <a class="title">
        <i class="dropdown icon"></i>
        <span><i class="user icon"></i></span> Learners
    </a>
    <div class="content">
        <div class="ui inverted grey vertical menu">
            <a href="{% url 'learners:list' %}" class="item">
                <i class="list icon"></i>
                List
            </a>
            <a class="item">
                <i class="plus icon"></i>
                Add
            </a>
       </div>
    </div>

</div>
<div class="item">
    <a class="title">
        <i class="dropdown icon"></i>
        <span><i class="thumbs up icon"></i></span> Merits
    </a>
    <div class="content">
        <div class="ui inverted grey vertical menu">
            <a class="item">
                <i class="list icon"></i>
                List
            </a>
            <a class="item">
                <i class="plus icon"></i>
                Add
            </a>
       </div>
    </div>

</div>
<div class="item">
    <a class="title">
        <i class="dropdown icon"></i>
        <span><i class="thumbs down icon"></i></span> Demerits
    </a>
    <div class="content">
        <div class="ui inverted grey vertical menu">
            <a class="item">
                <i class="list icon"></i>
                List
            </a>
            <a class="item">
                <i class="plus icon"></i>
                Add
            </a>
       </div>
    </div>

</div>
<div class="item">
    <a class="title">
        <span><i class="sliders horizontal icon"></i></span> Settings
    </a>
</div>
<div class="item">
    <a class="title">
        <span><i class="lock open icon"></i></span> Change Password
    </a>
</div>
<div class="item">
    <a class="title">
        <span><i class="door open icon"></i></span> Logout
    </a>
</div>