{% extends 'teachers/base_teachers.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <i class="right angle icon divider"></i>
    <a class="section">{{ teacher }}</a>
{% endblock %}

{% block content %}
    <div class="six wide column">
        <div class="ui centered card">
            <div class="image">
                <img src="{{ teacher.user.image.url }}" alt="">
            </div>
            <div class="content">
                <div class="header">{{ teacher }}</div>

                <div class="meta">Teacher</div>
            </div>
            <div class="extra content">
                <div class="ui list">
                    <div class="item">
                        <i class="id card icon"></i>
                        <div class="content">{{ teacher.user.username }}</div>
                    </div>
                    <div class="item">
                        <i class="envelope icon"></i>
                        {% if teacher.user.email %}
                            <div class="content">{{ teacher.user.email }}</div>
                        {% else %}
                            <div class="content">----------</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if user.is_superuser %}
                <div class="extra content">
                    <div class="ui mini basic four icon compact buttons">
                        <a href="{{ teacher.get_update_url }}" class="ui button" title="Edit {{ teacher }}">
                            <i class="edit icon"></i>
                        </a>

                        <a href="{{ teacher.get_delete_url }}" class="ui button" title="Delete {{ teacher }}">
                            <i class="trash icon"></i>
                        </a>

                        <a href="{% url 'teachers:assign_grades' teacher.slug %}"
                           class="ui button" title="Assign Form Classes to {{ teacher }}">
                            <i class="chalkboard teacher icon"></i>
                        </a>

                        <a class="ui button" title="Print Report">
                            <i class="file pdf icon"></i>
                        </a>
                    </div>
                </div>
            {% endif %}

        </div>

        <br>

        <div class="row">
           <h3 class="ui header">Form Classes</h3>
            {% for grade in form_classes %}
                <div class="ui styled fluid accordion">
                    <div class="grey title">
                        <i class="dropdown icon"></i>
                        <a href="{{ grade.get_absolute_url }}">{{ grade }}</a>
                    </div>
                    <div class="content">
                        <div class="ui divided tiny middle aligned list">
                            {% for learner in grade.learners.all %}
                                <div class="item">
                                    <img class="ui avatar image" src="{{ learner.user.image.url }}">
                                    <div class="content" >
                                        <a href="{{ learner.get_absolute_url }}">
                                            <div style="width: 220px; word-wrap: break-word;">  {{ learner }}</div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
   </div>

    <div class="ten wide column">

        <div class="row">
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Last 5 Merits
                </div>
                <div class="content">
                    <div class="ui list">
                        {% for merit in last_5_merits %}
                            <div class="item">
                                <i class="thumbs up grey icon"></i>
                                <div class="content">
                                    {{ merit.action.description }}
                                </div>
                            </div>
                        {% empty %}
                            <div class="item">
                                <i class="thumbs up grey icon"></i>
                                <div class="content">
                                    No merits were given by {{ teacher }} yet...
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Last 5 Demerits
                </div>
                <div class="content">
                    <div class="ui list">
                        {% for demerit in last_5_demerits %}
                            <div class="item">
                                <i class="thumbs down grey icon"></i>
                                <div class="content">
                                    {{ demerit.action.description }}
                                </div>
                            </div>
                        {% empty %}
                            <div class="item">
                                <i class="thumbs down grey icon"></i>
                                <div class="content">
                                    No demerits were given by {{ teacher }} yet...
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Top 5 Merits
                </div>
                <div class="content">
                    <div class="ui list">
                        {% for merit in top_5_merits %}
                            <div class="item">
                                <i class="thumbs up grey icon"></i>
                                <div class="content">
                                    {{ merit.description }} ({{ merit.merit_count }})
                                </div>
                            </div>
                        {% empty %}
                            <div class="item">
                                <i class="thumbs up grey icon"></i>
                                <div class="content">
                                    No merits were given by {{ teacher }} yet...
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Top 5 Demerits
                </div>
                <div class="content">
                    <div class="ui list">
                        {% for demerit in top_5_demerits %}
                            <div class="item">
                                <i class="thumbs down grey icon"></i>
                                <div class="content">
                                    {{ demerit.description }} ({{ demerit.demerit_count }})
                                </div>
                            </div>
                        {% empty %}
                            <div class="item">
                                <i class="thumbs down grey icon"></i>
                                <div class="content">
                                    No demerits were given by {{ teacher }} yet...
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="ui two column tablet computer only grid">
            <div class="column">
                <div class="ui segment">
                    <canvas id="DisciplineActionChart" width="100" height="100"
                            data-url="{% url 'teachers:merit_demerit_chart' teacher.slug %}"></canvas>
                </div>
            </div>

            <div class="column">
                <div class="ui segment">
                    <canvas id="OneMonthMerit" width="100" height="100"
                            data-url="{% url 'teachers:merit_per_week_last_month' teacher.slug %}"></canvas>
                </div>
            </div>

            <div class="column">
                <div class="ui segment">
                    <canvas id="OneMonthDemerit" width="100" height="100"
                            data-url="{% url 'teachers:demerit_per_week_last_month' teacher.slug %}"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var ctx1 = document.getElementById('DisciplineActionChart').getContext('2d');
        $.ajax({
            url: $("#DisciplineActionChart").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                var chart = new Chart(ctx1, data)
            }
        })

        var ctx2 = document.getElementById('OneMonthMerit').getContext('2d');
        $.ajax({
            url: $("#OneMonthMerit").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                var chart = new Chart(ctx2, data)
            }
        })

        var ctx3 = document.getElementById('OneMonthDemerit').getContext('2d');
        $.ajax({
            url: $("#OneMonthDemerit").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                var chart = new Chart(ctx3, data)
            }
        })
    </script>
{% endblock %}