{% extends 'teachers/base_teachers.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <i class="right angle icon divider"></i>
    <a class="section">{{ teacher }}</a>
    <i class="right angle icon divider"></i>
    <a class="section">{{ discipline_type }}</a>
    <i class="right angle icon divider"></i>
    <a class="section">List</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <h2 class="ui header">{{ discipline_type }} List</h2>
            <table class="ui stackable striped table">
                <thead>
                    <tr>
                        <th>Learner</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Point</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for action in disciplineaction_list %}
                        <tr>
                            <td>{{ action.learner }}</td>
                            <td>{{ action.action }}</td>
                            <td>{{ action.action.description }}</td>
                            <td>{{ action.action.point }}</td>
                            <td>{{ action.time }}</td>
                            <td>
                                <div class="ui icon grey mini compact buttons">
                                    {% if discipline_type.lower == 'merit' %}
                                        <a href="{% url 'teachers:update_merit_action' teacher.slug action.id %}"
                                           class="ui button">
                                    {% else %}
                                        <a href="{% url 'teachers:update_demerit_action' teacher.slug action.id %}"
                                           class="ui button">
                                    {% endif %}
                                        <i class="edit angle icon divider"></i>
                                    </a>
                                    {% if discipline_type.lower == 'merit' %}
                                        <a href="{% url 'teachers:delete_merit_action' teacher.slug action.id %}"
                                           class="ui button">
                                    {% else %}
                                        <a href="{% url 'teachers:delete_demerit_action' teacher.slug action.id %}"
                                           class="ui button">
                                    {% endif %}

                                        <i class="trash icon divider"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">
                                No {{ discipline_type.lower }} was given by {{ teacher  }} yet.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}