{% extends 'teachers/base_teachers.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <i class="right angle icon divider"></i>
    <a class="section">List</a>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="column">
        <table class="ui striped grey table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Teacher ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th># of Form Classes</th>
                </tr>
            </thead>

            <tbody>
                {% for teacher in teacher_list %}
                    <tr>
                        <td><img class="ui mini circular image" src="{{ teacher.image.url }}"></td>
                        <td>
                            <a href="{{ teacher.get_absolute_url }}">{{ teacher.teacher_id }}</a>
                        </td>
                        <td>
                            <a href="{{ teacher.get_absolute_url }}">{{ teacher.user.get_full_name }}</a>
                        </td>
                        <td>{{ teacher.user.email }}</td>
                        <td>{{ teacher.get_number_of_form_classes}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No teacher registered yet..</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}

test