<div class="pusher" style="background-color: whitesmoke">
    <br>
    <div class="ui container stackable grid">
        <div class="row">
            <div class="ui breadcrumb">
                {% block breadcrumb %}

                {% endblock %}
            </div>
        </div>

        <div class="row">
            {% block content %}

            {% endblock %}
        </div>

        <div class="row">
            {% block footer %}

            {% endblock %}
        </div>
    </div>
</div>