{% extends 'learners/base_learners.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <i class="right angle icon divider"></i>
    <a class="section">{{ action }} {{ learner }}</a>
{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui fluid segment">
            <h2 class="ui header">{{ action }} "{{ learner }}"?</h2>

            <form method="post" class="ui form">
                {% csrf_token %}
                <p>Are you sure you want to {{ action.lower }} learner "{{ learner }}"?</p>

                <a href="{{ learner.get_absolute_url }}" class="ui grey basic button">Cancel</a>
                <input type="submit" class="ui red basic button" value="{{ action }}">
            </form>
        </div>
    </div>
{% endblock %}