{% extends 'learners/base_learners.html' %}

{% load permission_tags %}

{% block breadcrumb %}
    {{ block.super }}
    <i class="right angle icon divider"></i>
    <a class="section">{{ learner }}</a>
{% endblock %}

{% block content %}
    <div class="six wide column">
        <div class="ui centered card">
            <div class="image">
                <img src="{{ learner.user.image.url }}" alt="">
            </div>
            <div class="content">
                <div class="header">{{ learner }}</div>

                <div class="meta">Learner</div>
            </div>
            <div class="extra content">
                <div class="ui list">
                    <div class="item">
                        <i class="id card icon"></i>
                        <div class="content">{{ learner.user.username }}</div>
                    </div>
                    <div class="item">
                        <i class="envelope icon"></i>
                        {% if learner.user.email %}
                            <div class="content">{{ learner.user.email }}</div>
                        {% else %}
                            <div class="content">----------</div>
                        {% endif %}
                    </div>
                    <div class="item">
                        <i class="user graduate icon"></i>
                        <div class="content">
                            {{ status }}
                            {% if status == 'Learner in' %}
                                {% can "view_grade" learner.get_active_grade user=user as can_view_grade %}
                                {% if can_view_grade %}
                                    <a href="{{ learner.get_active_grade.get_absolute_url }}">
                                        {{ learner.get_active_grade }}
                                    </a>
                                {% else %}
                                    {{ learner.get_active_grade }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_superuser %}
                <div class="extra content">
                    <div class="ui mini basic five icon compact buttons">
                        <a href="{{ learner.get_update_url }}" class="ui button" title="Edit {{ learner }}">
                            <i class="edit icon"></i>
                        </a>
                        <a href="{{ learner.get_delete_url }}" class="ui button" title="Delete {{ learner }}">
                            <i class="trash icon"></i>
                        </a>
                        <a href="{% url 'learners:transfer' learner.slug %}" class="ui button" title="Transfer {{ learner }}">
                            <i class="calendar minus icon"></i>
                        </a>
                        <a href="{% url 'learners:expel' learner.slug %}" class="ui button" title="Expel {{ learner }}">
                            <i class="calendar times icon"></i>
                        </a>
                        <a class="ui button" title="Print Report">
                            <i class="file pdf icon"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="ten wide column">
        <div class="row">
            <div class="ui two column grid">
                {% include 'includes/statistics.html' with number=total_merits object='Merit' %}
                {% include 'includes/statistics.html' with number=total_demerits object='Demerit' %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Last 5 Merits
                </div>
                <div class="content">
                    <div class="ui list">
                        {% for merit in last_5_merits %}
                            <div class="item">
                                <i class="thumbs up grey icon"></i>
                                <div class="content">
                                    {{ merit.action.description }}
                                </div>
                            </div>
                        {% empty %}
                            <div class="item">
                                <i class="thumbs up grey icon"></i>
                                <div class="content">
                                    No merits were given by {{ teacher }} yet...
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Last 5 Demerits
                </div>
                <div class="content">
                    <div class="ui list">
                        {% for demerit in last_5_demerits %}
                            <div class="item">
                                <i class="thumbs down grey icon"></i>
                                <div class="content">
                                    {{ demerit.action.description }}
                                </div>
                            </div>
                        {% empty %}
                            <div class="item">
                                <i class="thumbs down grey icon"></i>
                                <div class="content">
                                    No demerits were given by {{ teacher }} yet...
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Top 5 Merits
                </div>
                <div class="content">
                    <div class="ui list">
                        {% for merit in top_5_merits %}
                            <div class="item">
                                <i class="thumbs up grey icon"></i>
                                <div class="content">
                                    {{ merit.description }} ({{ merit.merit_count }})
                                </div>
                            </div>
                        {% empty %}
                            <div class="item">
                                <i class="thumbs up grey icon"></i>
                                <div class="content">
                                    No merits were given by {{ teacher }} yet...
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Top 5 Demerits
                </div>
                <div class="content">
                    <div class="ui list">
                        {% for demerit in top_5_demerits %}
                            <div class="item">
                                <i class="thumbs down grey icon"></i>
                                <div class="content">
                                    {{ demerit.description }} ({{ demerit.demerit_count }})
                                </div>
                            </div>
                        {% empty %}
                            <div class="item">
                                <i class="thumbs down grey icon"></i>
                                <div class="content">
                                    No demerits were given by {{ teacher }} yet...
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}