{% extends 'learners/base_learners.html' %}

{% block breadcrumb %}
    {{ block.super }}
    <i class="right angle icon divider"></i>
    <a class="section">List</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <table class="ui striped grey table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Learner ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Grade</th>
                    </tr>
                </thead>

                <tbody>
                    {% for learner in learner_list %}
                        <tr>
                            <td><img class="ui mini circular image" src="{{ learner.user.image.url }}"></td>
                            <td>
                                <a href="{{ learner.get_absolute_url }}">{{ learner.user.user_id }}</a>
                            </td>
                            <td>
                                <a href="{{ learner.get_absolute_url }}">{{ learner.user.get_full_name }}</a>
                            </td>
                            <td>{{ learner.user.email }}</td>
                            <td>{{ learner.grades }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">No learner registered yet..</td>
                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot class="full-width">
                    <tr>
                        <th colspan="5">
                            <a href="" class="ui right floated small grey labeled icon button">
                                <i class="user plus icon"></i> Add Learner
                            </a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}

test