{% extends 'learners/base_learners.html' %}

{% load crispy_forms_tags %}

{% block breadcrumb %}
    {{ block.super }}
    <i class="right angle icon divider"></i>
    <a class="section">List</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <form method="post" class="ui form" id="learnerForm"
                  data-learners-url="{% url 'learners:load_learners_per_grade' %}"
                  novalidate>
                {% crispy form %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <table class="ui striped grey table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Learner ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Grade</th>
                    </tr>
                </thead>

                <tbody id="learner-list">
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}

{% block pagination %}

{% endblock %}

{% block scripts %}
    <script>
        $("#id_grades, #id_name").on('change keyup', (function () {
            var url = $("#learnerForm").attr("data-learners-url");  // get the url of the `load_learners` view
            var gradeId = $("#id_grades").val();  // get the selected grade ID from the HTML input
            var name = $("#id_name").val();

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-learners/)
                data: {
                    'grade_id': gradeId,       // add the grade id to the GET parameters
                    'name': name,
                },
            success: function (data) {   // `data` is the return of the `load_learners` view function
                $("#learner-list").html(data);  // replace the contents of the learner input with the data that came from the server
                }
            });

        }));
        </script>
{% endblock %}