{% load crispy_forms_tags %}
{{ formset.management_form }}

<input type="hidden" name="learners" value="{{ learners }}" />

<table class="ui striped compact stackable table">
    <thead>
        <tr>
            <th class="six wide">Learner</th>
            <th class="four wide">Current Grade</th>
            <th class="six wide">Select Grade</th>
        </tr>
    </thead>
    <tbody>
        {% for learner, form in learners_formset %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <tr>
                <td>{{ forloop.counter }}. {{ learner }}</td>
                <td>{{ learner.get_active_grade }}</td>
                <td>
                    {{ form.grades }}
                    {{ form.grades.errors }}
                </td>
            </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th colspan="3">
                <a href="{% url 'learners:list' %}" class="ui right floated button">Cancel</a>
                <input type="submit" class="ui right floated grey button" value="Submit">
            </th>
        </tr>
    </tfoot>
</table>

{% csrf_token %}


