{% extends 'grades/base_grades.html' %}
{% load permission_tags %}

{% block breadcrumb %}
    {{ block.super }}
    <i class="right angle icon divider"></i>
    <a class="section">{{ grade }} Details</a>
{% endblock %}

{% block content %}
    <div class="seven wide column">
        <div class="ui padded segment">
            <h2 class="ui center aligned header">{{ grade }}</h2>
            <div class="ui divider"></div>

            <h3 class="ui header">Form Teachers</h3>
            <div class="ui middle aligned list">
                {% for teacher in grade.teachers.all %}
                    <div class="item">
                        <img class="ui avatar image" src="{{ teacher.user.image.url }}">
                        <div class="content">
                            <div class="header">
                                {% can "view_teacher" teacher user=user as can_view_teacher %}
                                {% if can_view_teacher %}
                                    <a href="{{ teacher.get_absolute_url }}">{{ teacher }}</a>
                                {% else %}
                                    {{ teacher }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="ui divider"></div>
            <h3 class="ui header">Learners</h3>
            <div class="ui list">
                {% for learner in grade.learners.all %}
                    <div class="item">
                        <img class="ui avatar image" src="{{ learner.user.image.url }}">
                        <div class="content">
                            <div class="header">{{ learner }}</div>
                        </div>
                    </div>
                {% empty %}
                    <div class="item">
                        <p class="center aligned">No learners assigned to this class yet</p>
                    </div>
                {% endfor %}
            </div>

            {% if request.user.is_superuser %}
                <br>
                <div class="row">
                    <div class="ui mini basic five icon compact buttons">
                        <a href="{{ grade.get_update_url }}"
                           class="ui button" title="Edit {{ grade }}">
                            <i class="edit icon"></i>
                        </a>

                        <a href="{{ grade.get_delete_url }}"
                           class="ui button" title="Delete {{ grade }}">
                            <i class="trash icon"></i>
                        </a>

                        <a href="{% url 'grades:assign_teachers' grade.slug %}"
                           class="ui button" title="Assign Form Teachers to {{ grade }}">
                            <i class="user plus icon"></i>
                        </a>

                        <a class="ui button" title="Assign Learners to {{ grade }}">
                            <i class="users icon"></i>
                        </a>

                        <a class="ui button" title="Print Report">
                            <i class="file pdf icon"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}