{% load permission_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Discipline
        {% endblock %}
    </title>

    {% include 'includes/links.html' %}
</head>
<body>
    {% block top_menu %}
        {% include 'includes/navigation/top_menu.html' %}
    {% endblock %}


    <div class="ui bottom attached segment pushable">
        {% block navigation %}
            <div class="ui inverted grey vertical sidebar large accordion menu">
                {% if request.user.is_superuser %}
                    {% include 'includes/navigation/admin_sidebar.html' %}
                {% elif request.user|has_role:'teacher_role' %}
                    {% include 'includes/navigation/teacher_navigation.html' %}
                {% elif request.user|has_role:'learner_role' %}
                    {% include 'includes/navigation/learner_navigation.html' %}
                {% endif %}
            </div>
        {% endblock %}
        <div class="pusher" style="background-color: whitesmoke">
            <br>
            <div class="ui container stackable grid">
                {% include 'includes/messages.html' %}
                <div class="row">
                    <div class="column">
                        <div class="ui segment">
                            <div class="ui breadcrumb">
                                {% block breadcrumb %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

                {% block content %}

                {% endblock %}

                {% block pagination %}
                    {% include 'includes/pagination.html' %}
                {% endblock %}

                <div class="row">
                    {% block footer %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/scripts.html' %}
</body>
</html>